<section>
    {{formGroup fields.id value=source.id rootId=rootId disabled=true hidden=true}}
    {{formGroup fields.label value=source.name rootId=rootId}}
    {{formGroup fields.supported selected=source.supported rootId=rootId}}
    {{formGroup fields.slots value=source.slots rootId=rootId}}
</section>