
body.theme-dark, .themed.theme-dark {
    --pf2e-bonus-feats-tag-bg: rgba(11, 10, 19, 0.5);
    --pf2e-bonus-feats-tag-border: #9f8475;
    --pf2e-bonus-feats-tag-color: #e7d1b1;
}

body.theme-light, .themed.theme-light{
    --pf2e-bonus-feats-tag-bg: rgba(0, 0, 0, 0.1);
    --pf2e-bonus-feats-tag-border: #555555;
    --pf2e-bonus-feats-tag-color: #111111;
}




#pf2e-bonus-feats-add-section-dialog {
    .form-group {
        margin-bottom: 10px;
    }
}

#pf2e-bonus-feats-edit-feat-sections {
    p {
        margin: 0px;
    }
    table {
        margin: 0px;
        th {
            text-align: left;
        }

        th:last-child, td:last-child {
            text-align: right;
            display: flex;
            flex-direction: row-reverse;
        }

        td {
            .tag {
                display: inline-block;
                gap: 0.25rem;
                padding: 0.25rem 0.3rem;
                border: 1px solid var(--pf2e-bonus-feats-tag-border);
                border-radius: 4px;
                background-color: var(--pf2e-bonus-feats-tag-bg);
                color: var(--pf2e-bonus-feats-tag-color);
                text-transform: capitalize;
            }
        }
    }

    footer {
        display: flex;
    }
}